/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



* {
    font-size: 14px;
    font-family: sans-serif;
}
/*this block should go in the styles.css file*/
.ui-panel-inner {
    padding: 0px; /*make the buttons flush edge to edge*/
}
.ui-controlgroup {
    margin: 0; /*make the buttons flush to the top*/
}
#header {
    height: 45px;
    background: rgb(255, 152, 0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2089d9', endColorstr='#0f5288', GradientType=0 );
    color: #fff;
    text-shadow: none;
    z-index: 999;
}
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    background: rgb(255, 246, 234);
    padding: 1em;
}
#bars-button {
    padding: 0px 5px;
    background: none;
    border: none;
    box-shadow: none;
}
#navpanel {
    background: #F6F6F6;
}
#popupMenu a {
    background: #F6F6F6;
    color: #444;
    text-shadow: none;
    font-size: 15px;
    font-weight: normal;
}
#popupMenu a:hover {
    transition: all 0.2s ease-in-out 0.1s;
    background: rgba(255, 152, 0, 0.85);
    color: #fff;
    font-size: 15px;
    text-shadow: none;
    font-weight: normal;
}
#categoryLinks .ui-btn-icon-right:after {
    display: none;
}
#navpanel a {
    padding: 20px 0px;
    background: #F6F6F6;
    color: #444;
    text-shadow: none;
    font-weight: normal;
}
#navpanel a:hover {
    transition: all 0.2s ease-in-out 0.1s;
    padding: 20px 0px;
    background: rgba(255, 152, 0, 0.85);
    color: #fff;
    font-weight: normal;
    text-shadow: none;
}
#listBox li h2 {
    font-size: 18px;
}
#listBox li .ui-btn-icon-right:after {
    display: none;
}
#listBox li a:hover {
    transition: all 0.2s ease-in-out 0.1s;
    text-shadow: none;
}
#feedForward {
    background: #00BA76;
    color: #fff;
    font-size: 13px;
    text-shadow: none;
}
#feedForward:hover {
    transition: all 0.2s ease-in-out 0.1s;
    background: #00A568;
}
.ui-li-aside.ui-li-count.ui-body-inherit {
    padding: 5px 10px;
    background: rgb(28, 170, 92);
    color: #fff;
    text-shadow: none;
    margin-right: -20px;
    border: none;
}
.transparentButton {
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
img#mainLogo {
    height: 40px;
    margin-left: 40px;
}
a#mainSearch {
    float: right;
    margin-right: 40px;
}
.pageHeader  h2 {
    font-size: 22px;
    margin-top: -5px;
}
.pageHeader p {
    margin-top: -15px;
}
#commentSection a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-comment {
    background: #00BA76;
    color: #fff;
    text-shadow: none;
    border-radius: 0;
    border: none;
}
#commentSection a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-comment:hover {
    transition: all 0.2s ease-in-out 0.1s;
    background: #00A568;
    color: #fff;
    text-shadow: none;
    border-radius: 0;
}

#commentSection .ui-collapsible-content.ui-body-inherit {
    border: 1px solid #F5F5F5;
    border-radius: 0;
}
#authorSearch a.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
    font-weight: normal;
}
#authorSearch .ui-input-search.ui-shadow-inset.ui-input-has-clear.ui-body-inherit.ui-corner-all {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 2px;
    box-shadow: none;
}
#authorSearch .ui-btn-icon-right:after {
    display: none;
}


div#navpanel .ui-panel-inner {
    padding: 0px;
}
.ui-controlgroup.ui-controlgroup-vertical {
    margin: 0px;
}
.ui-mobile, .ui-mobile body {
    height: 99.9%;
    background: #F9F9F9;
}
html.ui-mobile {
    background-color: #FFF6EA;
}
button#btnSave {
    background: #FFA623;
    color: #fff;
    text-shadow: none;
    border: 2px solid rgba(220, 152, 52, 0.9);
}
.modal-backdrop.fade.in {
    display: none;
}
.modal-content {
    background: #FFF6EA;
}
button.close.ui-btn.ui-shadow.ui-corner-all {
    background: rgb(222, 132, 0);
    color: #FFFFFF;
    text-shadow: none;
}

h4.modal-title {
    color: #FF9800;
    font-weight: bold;
    text-shadow: none;
}

a#aAsk {
    float: right;
    clear: both;
    color: black;
    font-size: 20px;
    text-decoration: none;
    outline: 0;
}
a#aAdd {
    float: right;
    color: black;
    font-size: 20px;
    text-decoration: none;
    outline: 0;
}
a#aAdd img {
    width: 60%;
}